.navbar {
    width: 100%;
    height: 10%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 80px;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-wrap: wrap;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgb(30, 109, 255);
}

.activeClassHome {
    color: rgb(235, 235, 235) !important;
    text-shadow: 0px 0px 6px #b3dde2;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    font-size: 20px;
    font-weight: bolder;
}

.activeClassForm {
    color: rgb(235, 235, 235) !important;
    text-shadow: 0px 0px 6px #b3dde2;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    font-size: 20px;
    font-weight: bolder;
}

.activeClassActivities {
    color: rgb(235, 235, 235) !important;
    text-shadow: 0px 0px 6px #b3dde2;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    font-size: 20px;
    font-weight: bolder;
}