.container {
    flex: 0 0 15%;
    max-width: 30%;
    margin-left: 1rem;
}
  
.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-left: 10rem;
    position: relative;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: rgb(30, 210, 255) !important;
    font-weight: bolder;
    margin-bottom: 10px; 
}
  
.cardGrid {
    display: grid;
    flex-direction: row;
    overflow-x: scroll; 
    width: 80vw;
    justify-content: center;   
}

.goBackButton {
    position: absolute;
    top: 80%;
    left: 50%;
    color: rgb(30, 210, 255);
    background-color: transparent;
    border: solid rgb(30, 210, 255);
    border-width: 1px;
    transition: ease-in-out 0.3s;
}
  
.goBackButton:hover {
    color:aliceblue;
    background: rgb(30, 210, 255);
}